html{font-size:18px}

h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child{margin-top:25px;margin-bottom:25px;color:"#ff0000"}

/* h1:first-child{margin-bottom:-10px;} */

.markdown-body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

/* h1,h2,h3,h4,h5,h6 {
} */

h1,h2 {
    font-family: Georgia,Times,Times New Roman,serif;
}

.markdown-body h1{
    font-size: 2.5em;
}

/* Affects the distance between larger headings and he horizontal line that follows */
.markdown-body h1, .markdown-body h2 {
	padding-bottom: 0em;
}

/* h3{
    color: rgba(141,77,101,1);
} */

/* Background colour of code snippets */
.markdown-body .highlight pre, .markdown-body pre {
    background-color: #002b36;
}

.markdown-body pre > code {
	font-size: 18px;
}

.markdown-body code, .markdown-body pre {
	font-family: 'Fira Code',SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}

.markdown-body table th {
    color: #000000;
}

.markdown-body table {
	color: #000000;
}

.ui.column.grid > [class*="sixteen wide mobile"].column, .ui.grid > .column.row > [class*="sixteen wide mobile"].column, .ui.grid > .row > [class*="sixteen wide mobile"].column, .ui.grid > [class*="sixteen wide mobile"].column {
	width: 130% !important;
}